{% extends 'base.html' %}
{% block content %}

<!-- MESSAGES -->
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}

<h2>Welcome {{request.user.username}}</h2>
<br>
<form class="" action="{% url 'change_password' %}" method="POST">
  {% csrf_token %}
  <label for="password">Enter current Password</label>
  <input type="password" name="password_old" placeholder="Password" value="">

  <label for="password">Enter new Password</label>
  <input type="password" name="password_new" placeholder="Password" value="">

  <label for="password">Re-enter new Password</label>
  <input type="password" name="password_new1" placeholder="Password" value="">

  <input type="submit" name="" value="change password">
</form>

{% endblock %}
